<div class="principal">
    <h3 class="text-center fw-bold"> <u>Proyectos Realizados</u></h3><br>

    <div class="container">
        <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 g-5">
        
        <div class="col">
            <div class="card">
                <img src="assets/Proyectos/Animales.png" class="card-img-top" alt="Animales" width="300" height="300">
                <div class="card-body">
                  <h5 class="card-title fw-bold text-center">Especies de Animales</h5>
                  <div class="text-center mt-3">
                     <a href="https://jay-codes91.github.io/Animales/" class="btnPrimary" target="_blank">Zona Animal</a>
                  </div>
                 
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="assets/Proyectos/Razas de Gatos.png" class="card-img-top" alt="Razas de Gatos" width="300" height="300">
                <div class="card-body">
                  <h5 class="card-title fw-bold text-center">Razas de Gatos</h5>
                  <div class="text-center mt-3">
                    <a href="https://jay-codes91.github.io/Razas_Gatos/" class="btnPrimary" target="_blank">Razas de Gatos</a>
                  </div>
                  
                </div>
              </div>
        </div>

        <div class="col">
          <div class="card">
              <img src="assets/Proyectos/UNED-ECEN.png" class="card-img-top" alt="UNED-ECEN" width="300" height="300">
              <div class="card-body">
                <h5 class="card-title fw-bold text-center">Reservas de Cubículos y Salas UNED-ECEN</h5>
              </div>
            </div>
      </div>

      <div class="col">
        <div class="card">
            <img src="assets/Proyectos/EmpresaXYZ.png" class="card-img-top" alt="Gestion de empleados" width="300" height="300">
            <div class="card-body">
              <h5 class="card-title fw-bold text-center">Sistema de gestión de empleados</h5>
              <div class="text-center mt-3">
                <a href="https://gestionxyz.netlify.app" class="btnPrimary" target="_blank">Sistema</a>
              </div>
            </div>
          </div>
    </div>
    </div>
    </div>
    

    
</div>
