<header id="principal" class=" container-fluid">
  <nav class="container-fluid d-flex p-2 justify-content-between">

    <a href="#" class="navbar-brand ms-3" title="Portafolio Yeiko Muñoz">
      <img src="assets/Iconos/Logo.png" alt="Facebook" height="100" width="100">
    </a>

    <div class="align-self-center me-3">
      
       <button class="btnGrey" type="button" data-bs-toggle="modal" data-bs-target="#perfil">Acerca de mi</button>
        
    </div>

  </nav>

  <div class="titulos bg-dark opacity-50 rounded-3 p-2" style="margin-top: 70px;">
    <h2 class="text-center text-white animate__animated animate__flipInX">Desarrollador Web FullStack</h2><br>
    <p class="text-white animate__animated animate__flipInX">{{msj}}</p>
  </div>
</header>

<!--Perfil -->
<app-perfil></app-perfil>


