<header id="principal" class=" container-fluid">
  <nav class="container-fluid d-flex p-2 justify-content-between">

    <a href="#" class="navbar-brand ms-3" title="Portafolio Yeiko Muñoz">
      <img src="assets/Iconos/Logo.png" alt="Facebook" height="100" width="100">
    </a>

    <div class="align-self-center me-3">
      <ul class="nav navItem">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="perfil()" >Acerca de mi</a>
        </li>
      </ul>
    </div>

  </nav>

  <div class="titulos bg-dark opacity-50 rounded-3 p-2" style="margin-top: 70px;">
    <h2 class="text-center text-white animate__animated animate__flipInX">Desarrollador Web Full-Stack</h2><br>
    <p class="text-white animate__animated animate__flipInX">Desarrollo páginas web elegantes y adaptables a cualquier dispositivo con las tecnologías de Angular, Bootstrap y .Net Core.</p>
  </div>
</header>
