<nav class="sticky-top">
  <ul class="nav justify-content-center p-3 animate__animated animate__backInLeft">
    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="LinkedIn">
      <a class="nav-link" href="https://www.linkedin.com/in/yeikoMuñoz" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </li>
    <li class="nav-item" (click)="email()" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Correo">
      <a class="nav-link"><i class="fa-regular fa-envelope"></i></a>
    </li>
    <li class="nav-item" (click)="telefono()" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Teléfonos">
      <a class="nav-link"><i class="fa-solid fa-phone"></i></a>
    </li>
    <li class="nav-item" (click)="ubicacion()" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Residencia">
      <a class="nav-link"><i class="fa-solid fa-location-dot"></i></a>
    </li>
    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Descargar Curriculum PDF">
      <a class="nav-link" href="assets/CV-YeikoMuñozAraya.pdf" target="_blank"><i class="fa-solid fa-file-arrow-down"></i></a>
    </li>
  </ul>
</nav>
