<div class="container-fluid p-3" style="background-color: #E0E0E0;">
   <h2 class="text-center fw-bold"> <u>Tecnologías Front-end</u></h2><br>

   <div class="container text-center p-2">
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 g-2 g-lg-4">
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HTML 5">
            <img src="assets/Iconos/file_type_html_icon_130541.png" alt="HTML">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="CSS">
            <img src="assets/Iconos/file_type_css_icon_130661.png" alt="CSS">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="JS">
            <img src="assets/Iconos/file_type_js_official_icon_130509.png" alt="JS">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Bootstrap">
          <img src="assets/Iconos/bootstrap_plain_logo_icon_146619.png" alt="Boostrap">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SASS">
          <img src="assets/Iconos/sass_original_logo_icon_146350.png" alt="SASS">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Jquery">
          <img src="assets/Iconos/jquery_original_wordmark_logo_icon_146447.png" alt="JQuery">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Figma">
          <img src="assets/Iconos/figma_logo_icon_170157.png" alt="Figma">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Angular">
          <img src="assets/Iconos/file_type_angular_icon_130754.png" alt="Angular">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Git">
          <img src="assets/Iconos/file_type_git_icon_130581.png" alt="Git">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="GitHub">
          <img src="assets/Iconos/github_original_wordmark_logo_icon_146506.png" alt="Github">
        </div>
      </div>
      <div class="col">
        <div class="cont-tecnologias" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Diseño Responsivo" >
          <img src="assets/Iconos/responsive-devices_icon-icons.com_58003.png" alt="Responsivo">
        </div>
      </div>
    </div>
  </div><br><br>

  <h2 class="text-center fw-bold"> <u>Tecnologías Back-end</u></h2><br><br>

  <div class="container text-center p-2">
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 g-2 g-lg-4">
      <div class="col">
        <div class="cont-tecnologias__Back-end" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Sql Server">
            <img src="assets/Iconos/kisspng-microsoft-sql-server-sql-server-management-studio-transactional-analysis-5b2207404a5ee2.2591699115289567363046.png" alt="Sql Server">
        </div>
      </div>
      
      <div class="col">
        <div class="cont-tecnologias__Back-end" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="C Sharp">
            <img src="assets/Iconos/csharp_original_logo_icon_146578.png" alt="C#">
        </div>
      </div>

      <div class="col">
        <div class="cont-tecnologias__Back-end" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="ASP.NET Core">
            <img src="assets/Iconos/communityIcon_zk9okbrbph141.png" alt="ASP.NET CORE">
        </div>
      </div>

      <div class="col">
        <div class="cont-tecnologias__Back-end" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="API REST">
            <img src="assets/Iconos/rest-api-icon.png" alt="API REST">
        </div>
      </div>

      
      
      
      
    </div>
  </div><br><br>

  <h2 class="text-center fw-bold"> <u>Entornos de Desarrollo Integrado (IDE)</u></h2><br><br>

  <div class="container text-center p-2">
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 g-2 g-lg-4">
      <div class="col">
        <div class="cont-tecnologias__Back-end" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="VS Code">
            <img src="assets/Iconos/file_type_vscode_icon_130084.png" alt="VS Code">
        </div>
      </div>
      
      <div class="col">
        <div class="cont-tecnologias__Back-end" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Visual Studio">
            <img src="assets/Iconos/visual_studio_18908.png" alt="VS">
        </div>
      </div>
    </div>
  </div>

</div>
